In [1]:
import pandas as pd
import datetime as dt

### Read in data
Data source: Tradestation export

In [11]:
#Read from .txt in Tradestation format
df = pd.read_csv("SPY_Daily.txt")

#Rename columns
df = df.rename(columns={
    'Open': 'open',
    'High': 'high',
    'Low': 'low',
    'Close': 'close',
    'Vol': 'volume'})

#Convert strings of date and time to datetime format
df["datetime"] = df["Date"] + " " + df["Time"]
df["datetime"] =pd.to_datetime(df["datetime"])

#Shift 1min to the left for proper higher timeframe generation
df["datetime"] = df["datetime"] - dt.timedelta(minutes=1)
df= df.set_index('datetime')

#drop unneccessary columns
df = df.drop(columns=['OI'])
df

,Date,Time,open,high,low,close,volume
datetime,,,,,,,
2020-06-22 15:59:00,06/22/2020,16:00,307.99,311.05,306.75,310.62,74649389
2020-06-23 15:59:00,06/23/2020,16:00,313.49,314.50,311.61,312.05,68471246
2020-06-24 15:59:00,06/24/2020,16:00,309.84,310.51,302.10,304.09,132813492
2020-06-25 15:59:00,06/25/2020,16:00,303.47,307.64,301.28,307.35,89467968
2020-06-26 15:59:00,06/26/2020,16:00,306.16,306.39,299.42,300.05,127961017
...,...,...,...,...,...,...,...
2022-06-15 15:59:00,06/15/2022,16:00,377.36,383.90,372.12,379.20,125670667
2022-06-16 15:59:00,06/16/2022,16:00,370.51,370.94,364.08,366.65,134473689
2022-06-17 15:59:00,06/17/2022,16:00,365.51,369.38,362.17,365.86,111114644
2022-06-21 15:59:00,06/21/2022,16:00,371.89,376.53,371.81,375.07,76812900
2022-06-22 15:59:00,06/22/2022,16:00,370.62,378.72,370.18,374.39,89836355

### Add column for weekday

In [13]:
#Add weekday
df = df.reset_index()
df['weekdayInt'] = df['datetime'].dt.weekday

#If you prefer to have the days of the week intstead of int representation
df.loc[df['weekdayInt'] == 0, 'weekday'] = "Monday"
df.loc[df['weekdayInt'] == 1, 'weekday'] = "Tuesday"
df.loc[df['weekdayInt'] == 2, 'weekday'] = "Wednesday"
df.loc[df['weekdayInt'] == 3, 'weekday'] = "Thursday"
df.loc[df['weekdayInt'] == 4, 'weekday'] = "Friday"
df.loc[df['weekdayInt'] == 5, 'weekday'] = "Saturday"
df.loc[df['weekdayInt'] == 6, 'weekday'] = "Sunday"

df = df.set_index('datetime')
df

,Date,Time,open,high,low,close,volume,weekdayInt,weekday
datetime,,,,,,,,,
2020-06-22 15:59:00,06/22/2020,16:00,307.99,311.05,306.75,310.62,74649389,0,Monday
2020-06-23 15:59:00,06/23/2020,16:00,313.49,314.50,311.61,312.05,68471246,1,Tuesday
2020-06-24 15:59:00,06/24/2020,16:00,309.84,310.51,302.10,304.09,132813492,2,Wednesday
2020-06-25 15:59:00,06/25/2020,16:00,303.47,307.64,301.28,307.35,89467968,3,Thursday
2020-06-26 15:59:00,06/26/2020,16:00,306.16,306.39,299.42,300.05,127961017,4,Friday
...,...,...,...,...,...,...,...,...,...
2022-06-15 15:59:00,06/15/2022,16:00,377.36,383.90,372.12,379.20,125670667,2,Wednesday
2022-06-16 15:59:00,06/16/2022,16:00,370.51,370.94,364.08,366.65,134473689,3,Thursday
2022-06-17 15:59:00,06/17/2022,16:00,365.51,369.38,362.17,365.86,111114644,4,Friday
2022-06-21 15:59:00,06/21/2022,16:00,371.89,376.53,371.81,375.07,76812900,1,Tuesday
2022-06-22 15:59:00,06/22/2022,16:00,370.62,378.72,370.18,374.39,89836355,2,Wednesday