In [1]:
import pandas as pd
import datetime as dt
import mplfinance as mpf

In [2]:
aggdict = {
    'Open':'first',
    'High':'max',
    'Low':'min',
    'Close':'last',
    'volume':'sum'
}

In [3]:
 def HigherTimeframeMAs(source , newFreq ='5min'):
        df = source.groupby(pd.Grouper(level=0, freq= newFreq, label='left')).agg(aggdict)

### Read in data
Data source: Tradestation export

In [7]:
df = pd.read_csv("SPY_1min.txt")
df['volume'] = df['Up'] + df['Down']

In [8]:
df

,Date,Time,Open,High,Low,Close,Up,Down,volume
0,05/05/2022,09:31,424.50,424.62,424.12,424.29,674389,351647,1026036
1,05/05/2022,09:32,424.30,424.54,423.92,424.13,231164,246755,477919
2,05/05/2022,09:33,424.13,424.13,423.57,423.57,264857,280895,545752
3,05/05/2022,09:34,423.59,423.87,423.32,423.80,278159,312115,590274
4,05/05/2022,09:35,423.76,423.97,423.50,423.88,218213,181874,400087
...,...,...,...,...,...,...,...,...,...
26783,06/17/2022,19:54,366.50,366.50,366.50,366.50,0,176,176
26784,06/17/2022,19:56,366.50,366.52,366.50,366.50,100,200,300
26785,06/17/2022,19:58,366.50,366.50,366.50,366.50,0,200,200
26786,06/17/2022,19:59,366.21,366.21,366.21,366.21,0,250,250
26787,06/17/2022,20:00,366.40,366.40,366.33,366.33,1196,263,1459